

<%= simple_form_for @locations do |f| %>
<h1>Add New Location to the Map</h1>
	<%= f.input :title, label_html: { class: "light_font_weight" } %>

	<%= f.input :address, label_html: { class: "light_font_weight" } %>

	<%= f.button :submit %>

<% end %>